[Unit]
Description=Run the local IP status check every 8 hours.

[Timer]
OnBootSec=30
OnUnitActiveSec=600
AccuracySec=1ms

[Install]
WantedBy=timers.target
